[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] pre,
[dir="rtl"] pre code {
  direction: ltr;
  text-align: left;
  unicode-bidi: isolate;
}

[dir="rtl"] :not(pre) > code {
  direction: ltr;
  unicode-bidi: isolate;
  display: inline-block;
}
